{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo.jpg' %}" height="50" alt="logo">
    </a>
    <span class="navbar-text">
        Hi, {{ user.username }}!
    </span>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-link" style="float: right">
                <a href="{% url 'logout' %}" class="navbar-nav pull-right">logout</a>
            </li>
        </ul>
    </div>
</nav>
{% else %}
{# <p>You are not logged in</p>#}
{# <a href="{% url 'login' %}">login</a>#}
{% csrf_token %}
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </div>
            </div>
            <div class="sign-up-htm">
                <div class="group">
                    <label for="username" class="label">Username</label>
                    <input id="username" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass1" class="label">Password</label>
                    <input id="pass1" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass2" class="label">Repeat Password</label>
                    <input id="pass2" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="email" class="label">Email Address</label>
                    <input id="email" type="text" class="input">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Already Member?</label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}